<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
 
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title><%= title %></title>

</head>
<body>
  <nav>
    <img src="/images/banner.png">
    
          <% if (user) { %>
            <a href="#">My Recommendations</a>
            <a href="#">My Lists</a>
           
            <div class="dropdown">
              <button class="dropbtn"><a href="#"></a>MY PROFILE</a></button>
              <div class="dropdown-content">
                <a href="#">MY LISTS</a>
                <a href="#">CREATE NEW LIST</a>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              </div>
          <% } else { %>
            <a href="/performers/new" <%- title === 'Movie Lists' ? 'class="active"' : '' %>>MOVIE LISTS</a>
            <a href="/movies/new" <%- title === 'Show Lists' ? 'class="active"' : '' %>>SHOW LISTS</a>
            <a href="/auth/google" <%- title === 'Login' ? 'class="active"' : '' %>><i class="material-icons left">vpn_key</i>LOGIN WITH GOOGLE</a>
         

            <div class="dropdown">
              <button class="dropbtn">Dropdown</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <% } %>

  </nav>


  <main>
    <h1><%= title %></h1>