
<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= movielist.title %></div>
  <div>Description: </div>
  <div><%= movielist.listDesc %></div>
  <div>Movies:</div>
  <ul>
    <%- movielist.movielistitem.map(m => 
      `<li>${m.listnumber}</li>
      <li>${m.description}</li>`
    ).join('') %>
  </ul>  
  <form action="/movielists/<%= movielist._id%>/movielistitems/new">
    <input type="submit" value="Add a movie list item" />
</form>


<%- include('../partials/footer') %>