<%- include('../partials/header') %>

<form id="new-form" action="/tvshows/<%= tvshow.id %>?_method=PUT" method="POST" autocomplete="off">
  <label>Title:</label>
  <input type="text" name="title" value="<%= tvshow.title %>">
  <label>Release Year:</label>
  <input type="text" name="releaseYear" value="<%= tvshow.releaseYear %>">
  <label>MPAA Rating</label>
  <select name="mpaaRating">
    <option value="TV-Y: All Children">TV-Y: All Children</option>
    <option value="TV-Y7: Directed to Older Children">TV-Y7: Directed to Older Children</option>
    <option value="TV-G: General Audience">TV-G: General Audience</option>
    <option value="TV-PG: Parental Guidance Suggested">TV-PG: Parental Guidance Suggested</option>
    <option value="TV-14: Parents Strongly Cautioned">TV-14: Parents Strongly Cautioned</option>
    <option value="TV-MA: Mature Audience Only">TV-MA: Mature Audience Only</option>
  </select>
  <label>TV Show Link:</label>
  <input type="text" name="tvshowlink" value="<%= tvshow.tvshowLink %>">
  <label>Genre/Genres:</label>
  <input type="text" name="genre" value="<%= tvshow.genre %>">
  <label>Where to Watch:</label>
  <input type="text" name="whereToWatch" value="<%= tvshow.whereToWatch %>">
  <label>Image Link:</label>
  <input type="text" name="imageLink" value="<%= tvshow.imageLink%>">
  <input type="submit" value="Edit TV Show">
</form>

<%- include('../partials/footer') %>

