<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release<br>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tvshows.forEach(function(t) { %>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.releaseYear %></td>
        <td><a href="/tvshows/<%= t._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  <% if (user) { %>
    
      <a href="/tvshows/new" <%- title === 'Add TV Show' ? 'class="active"' : '' %>>ADD TV SHOW</a>  
   
  <% } else { %>
   
    <% } %>
<%- include('../partials/footer') %>