
<%- include('../partials/header') %>
  <table class="show">
    <tr>
       <td rowspan = "1"><img class="showimage" src="<%= tvshow.imageLink %>"></img></td>
       <td><b>Release Year:</b> <%= tvshow.releaseYear %>
          <br><br>
          <b>mpaaRating:</b> <%= tvshow.mpaaRating %>
          <br><br>
          <b>Description Link:</b> <br>
          <a href="<%= tvshow.tvshowlink %>"><%= tvshow.tvshowlink %></a>
          <br><br>
          <b>Genre:</b> <%= tvshow.genre %>
          <br><br>
          <b>Where You Can Stream:</b> <%= tvshow.whereToWatch %>
          <br><br>
       </td>
    </tr>
 </table>
 
 <% if (user) { %>  
<table>
  <tr>
    <td>
      <a href="/tvshows/<%= tvshow._id %>/edit">
      <button type="submit" class="form">EDIT SHOW DETAILS</button>
      </a>
    </td>
    <td>
      <form action="/tvshows/<%= tvshow.id %>?_method=DELETE" method="POST">
          <button type="submit" class="form">DELETE SHOW</button>
      </form>      
    </td>
    <td>
      <p style="font-size:10px; color: grey;"> Only the creator<br>of this movie page <br>can edit or delete.</p>
    </td>
  </tr>
</table>
  <% } else { %>
  <% } %>
<br><br>
  
  <% if (user) { %>
    
  <table class="show">
    <tbody>
      <form action="/tvshows/<%= tvshow._id %>/comments" method="POST">
      <tr><td> 
          <label>Would you recommend this show?</label>
      </td><td style="width:250px">
        <input type="text" name="wouldRecommend" style="width:100%;"/>
      </td></tr><tr><td>
        <label>Comment:</label>
      </td><td style="width:250px">
        <input type="text" name="content" style="width:100%;"/>
      </td></tr><tr><td></td><td>
        <button type="submit" class="form">ADD COMMENT</button>
      </td></tr>
      </form>
    </tbody>
  </table>
<% } else { %>
<% } %>

<% if (tvshow.comments.length) { %>
  <br>
  <table class="comments">
    <thead>
      <tr>
        <th colspan="4">Comments:</th>
      </tr>
    </thead>
    <tbody>
      <% tvshow.comments.forEach(function(comment) { %>
        <tr>
          <td style="width: 100px;"><%= comment.userName %><br>
            <%= comment.createdAt.toLocaleDateString() %></td>

          <td style="width: 400px;"><b>Would You Recommend? </b><%= comment.wouldRecommend %>
            <br><br>
            <b>Comment:</b> <%= comment.content %> </td>
          <td style="width: 16px;">
              <% if (user) { %>
              <% if (comment.userId.equals(user._id)) { %>
            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button type="submit" class="form">X</button>
            </form>
              <% } %>
              <% } else { %>
              <% } %></td>
        </tr>

          <% }) %>
       

    </tbody>
</table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>