
<%- include('../partials/header') %>
  <table class="show">
    <tr>
       <td rowspan = "1"><img class="showimage" src="<%= tvshow.imageLink %>"></img></td>
       <td><b>Release Year:</b> <%= tvshow.releaseYear %>
        <br><br>
        <b>mpaaRating:</b> <%= tvshow.mpaaRating %>
        <br><br>
        <b>Description Link:</b> <br>
        <a href="<%= tvshow.tvshowlink %>"><%= tvshow.tvshowlink %></a>
        <br><br>
        <b>Genre:</b> <%= tvshow.genre %>
        <br><br>
        <b>Where You Can Stream:</b> <%= tvshow.whereToWatch %>
    </tr>
 </table>



 <% if (user) { %>
  
<table>
  <tr>
  <td>
  <a href="/tvshows/<%= tvshow._id %>/edit">
  </td><td>
    <button type="submit" class="form">EDIT MOVIE DETAILS</button></a>
  </td><td>
    <form action="/tvshows/<%= tvshow.id %>?_method=DELETE" method="POST">
        <button type="submit" class="form">DELETE MOVIE</button>
    </form>
  </td>
</tr>
  </table>
  <% } else { %>

  <% } %>
<Br><Br>


<% if (user) { %>
    
  <table class="show">

    <tbody>
      <form action="/tvshows/<%= tvshow._id %>/comments" method="POST">
        <!-- Be sure name attributes of inputs match the model properties -->
        <tr><td> 
          <label>Would you recommend this show?</label>
        </td><td style="width:250px">
        <input type="text" name="wouldRecommend" style="width:100%;"/>
      </td></tr><tr><td>
        <label>Comment:</label>
      </td><td style="width:250px">
        <input type="text" name="content" style="width:100%;"/>
      </td></tr><tr><td></td><td>
        <button type="submit" class="form">ADD COMMENT</button>
      </td></tr>
      </form>
    </tbody>
  </table>
<% } else { %>

<% } %>
<% if (tvshow.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User:</th>
        <th>Would you recommend?</th>
        <th>User Comments:</th>
      </tr>
    </thead>
    <tbody>
      <% tvshow.comments.forEach(function(comment) { %>
        <tr>
        <div class="comment">
          <td><%= comment.userName %></td>
          <td><%= comment.wouldRecommend %></td>
          <td><%= comment.content %></td>
          <td><%= comment.createdAt.toLocaleDateString() %></td>
          <td><% if (comment.userId.equals(user._id)) { %>
            <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button type="submit" class="form">X</button>
            </form>
          <% } %></td> 
          <td><form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
            <!-- Value attribute is being set to the comment's current text -->
            <input name="text" value="<%= comment.wouldRecommend %>">
            <input name="text" value="<%= comment.content %>">
            <button type="submit" class="form">UPDATE COMMENT</button>
          </form></td>      
        </div>
      <% }) %>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>



<%- include('../partials/footer') %>

