
<%- include('../partials/header') %>
<section id="show-page">
    <div>Title: </div>
    <div><%= movie.title %></div>
    <div>Release Year: </div>
    <div><%= movie.releaseYear %></div>
    <div>Rating: </div>
    <div><%= movie.mpaaRating %></div>
    <div>Description Link: </div>
    <div><%= movie.movieLink %></div>
    <div>Genre:</div>
    <div><%= movie.genre%></div>
    <div>Where You Can Watch:</div>
    <div><%= movie.whereToWatch%></div>
  </section>
<%- include('../partials/footer') %>

