
<%- include('../partials/header') %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Decription</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
      <% tvshowrecs.forEach(s => { %>
       
    <!-- Write the line of EJS to iterate over shows using forEach -->
      <tr>
        <td><%= s.title %></td>
        <td><%= s.listDesc %></td>
        <td><a href="/tvshowrecs/<%= s._id %>">DETAILS</a></td>
      </tr>
    <!-- Close the forEach using EJS here -->
    <% }) %> 
  </tbody>
</table>
<br>
<a href='/tvshowrecs/new'>Create a List</a>

<%- include('../partials/footer') %>

