
<%- include('../partials/header') %>

<section id="tvshow-page">
  <div><h2>Title: <%= tvshowrec.title %></h2> </div>
  <div><h3>Description: <%= tvshowrec.listDesc %></h3></div>
  <div></div>
  <div>Movies:</div>
  <ul>
    <%- tvshowrec.tvshows.map(t => 
    `<img src="${t.imageLink}"><img><li>${t.title}</li>
    <li>${t.releaseYear}</li>
    `
  ).join('') %>


  </ul>
    <form id="add-show-to-rec" action="/tvshowrecs/<%=tvshowrec._id%>/tvshows" method="POST">
      <select name="tvshowId">
        <%- tvshows.map(t => 
          `<option value="${t._id}">${t.title}</option>`
        ).join('') %>
      </select>
      <button type="submit">Add Movie to List</button>
    </form>



<%- include('../partials/footer') %>

