
<%- include('../partials/header') %>

<section id="tvshow-page">
  <div><h3 class="desc-heading">Description: <%= tvshowrec.listDesc %></h3></div>
  <div>
    <table><tr><td>
      <% if (user) { %>
    <a href="/tvshowrecs/<%= tvshowrec._id %>/edit">
    <button type="submit" class="form">EDIT LIST DETAILS</button></a>
    </td><td>      
    <form action="/tvshowrecs/<%= tvshowrec.id %>?_method=DELETE" method="POST">
      <button type="submit" class="form">DELETE SHOW LIST</button>
  </form>
  <% } else { %>

    <% } %>
</td></tr></table>
</div>
    
  <ol>
    <%- tvshowrec.tvshows.map(t => 
    `<table>
      <th colspan="3" class="showrec"></th><li>${t.title}</li></th>
        <tr>
          <td><img src="${t.imageLink}" width="200"></td>
          <td><b>Release Year:</b> ${t.releaseYear}
            <br><br>
            <b>mpaaRating:</b> ${t.mpaaRating}

            <br><br>
            <b>Genre:</b> ${t.genre}
            <br><br>
            <b>Where You Can Stream:</b> ${t.whereToWatch}
            <br><br>
            <a href="/tvshows/${t._id}">Show Details</a>
          </td>
        </tr>
    </table>
    `).join('') %>
  </ol>
    <form id="add-show-to-rec" action="/tvshowrecs/<%=tvshowrec._id%>/tvshows" method="POST">
      <select name="tvshowId">
        <%- tvshows.map(t => 
          `<option value="${t._id}">${t.title}</option>`).join('') %>
      </select>
      <button type="submit">Add Movie to List</button>
    </form>


<%- include('../partials/footer') %>

